@import "mySmartGrid";
@import "fonts";
@include reset();

* {
  box-sizing: border-box;
}

body {
  @include thisFont("Roboto-Regular", 400, normal, 24px, #212121, 16px);
}

.container {
  @include container();
}

h1, .header1 {
  @include thisFont("Roboto-Condensed", 300, normal, 65px, #212121, 56px);
  @include md {
    font-size: 50px;
  }
  @include sm {
    font-size: 40px;
  }
}

h2, .header2 {
  @include thisFont("Roboto-Condensed", 300, normal, 53px, #212121, 46px);
  @include md {
    font-size: 36px;
  }
  @include sm {
    font-size: 26px;
  }
}
h3, .header3 {
  @include thisFont("Roboto-Condensed", 300, normal, 32px, #212121, 28px);
  @include md {
    font-size: 26px;
  }
  @include sm {
    font-size: 22px;
  }
}
p, span, .paragraph {
  @include thisFont("Roboto-Regular", 400, normal, 24px, #212121, 16px);
}

a {
  @include thisFont("Roboto-Regular", 400, normal, 24px, #E10025, 16px);
  text-decoration: none;
}
          
a:hover {
  text-decoration: underline;
}

.header {
  background-image: url("../img/content-img/csm_dh_loesungen_nrwg_capitolbreslau_2_1920x1080_66a283dabd.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__menu_box {
  background-color: #fff;
}

.social_media_list {
  display: flex;
  gap: 10px
}

.social_media_item {
  width: 30px;
  height: 30px;
}
.social_media_item a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: block;
}
.social_media_vk {
  background-image: url("../img/content-img/vk_icon.svg");
}
.social_media_text {
  clip:rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.social_media_fb {
  background-image: url("../img/content-img/fb_icon.svg");
}
.social_media_ins {
  background-image: url("../img/content-img/ins_icon.svg");
}
.social_media_yt {
  background-image: url("../img/content-img/yt_icon.svg");
}

.header__top_container {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
}

.search_btn {
  background-image: url("../img/content-img/search_icon.svg");
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search_field {
  border: 2px solid #9E9E9E;
  background-color: #fff;
  outline: none;
  display: none;
  @include placeholder(#9E9E9E, 14px, "Roboto-Condensed");
  margin-right: 20px;
  padding: 5px;
}
.search_label {
  display: flex;
  align-items: center;
}

.header__menu_box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 135px;
  position: relative;
}

.header__logoLink {
}
.header__logo {
  width: 215px;
  height: 50px;
  @include lg {
    width: 190px;
    height: auto;
  }
}
.header__menu {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 30px;

  @include xl {
    position: relative;
  }
  @include md {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 6;
  }
}
.is-active {
}

.header__menu_item {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: block;
    height: 3px;
    width: 32px;
    max-width: 0;
    background-color: #E10025;
    position: absolute;
    bottom: 0;
    left: calc(50% - 16px);
    transition: max-width 0.3s ease-out;
  }
  &:hover::after {
    max-width: 32px;
  }
  @include xl {
    position: static;
  }
  @include md {
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
  }
}

.topMenu__link {
  @include thisFont("Roboto Condensed", 400, normal, 23px, #9E9E9E, 20px);
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  @include md {
    color: #000;
  }
}
.header__sliderbox {
  padding-top: 70px;
  padding-bottom: 70px;
}
.header__slider {
}
.header__slide {
}
.slide_title {
  color: #FFFFFF;
}
.slide_text {
  @include thisFont("Roboto-Regular", 400, normal, 28px, #FFFFFF, 20px);
  display: inline-block;
  margin: 35px 0;
  @include md {
    margin-bottom: 45px;
  }
}

.header__slide_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 180px;
  height: 55px;
  border: 2px solid #ffffff;
  @include thisFont("Roboto-Condensed", 400, normal, 23px, #FFFFFF, 20px);
}
.header__sliderbox .container {
  position: relative;
}

.header__slider_dots {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 27px;
  left: calc(50% - 30px);
  @include md {
    bottom: 80px;
  }
}
.header__slider_dots button {
  display: block;
  font-size: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 0;
  border: 2px solid #ffffff;
  background-color: transparent;
  box-sizing: border-box;
}
.header__slider_dots .slick-active button {
  background-color: #ffffff;
}

.header__slider_dots li {
  width: 8px;
  height: 8px;
}
.header__sliderbox .slick-arrow {
  display: block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
}
.header__sliderbox .slick-next {
  background-image: url("../img/content-img/arrow_right.png");
  right: 0;
}
.header__sliderbox .slick-prev {
  background-image: url("../img/content-img/arrow_left.png");
  right: 65px;
}
.submenu {
  position: absolute;
  top: 100%;
  right: -100px;
  background-color: #F5F5F5;
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(2, 385px);
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  z-index: 5;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  display: none;
  @include xl {
    right: 0;
  }
  @include lg {
    grid-template-columns: repeat(1, 385px);
    grid-column-gap: 0;
  }
  @include md {
    position: static;
    grid-template-columns: 100%;
    padding: 20px;
  }
}
.active_menu .submenu {
  display: grid;
  max-height: 99999px;

}
.hamburger {
  display: none;
  @include md {
    display: block;
  }
}
.header__menu_item:hover .submenu, .submenu:hover  {
  display: grid;
  max-height: 9999px;
}
.submenu__catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 25px;
  grid-row: 1/3;
  @include sm {
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
}
.submenu__catalog_partBox {
  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.submenu__catalog_partTitle {

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 15px 0;
  }
}
.submenu .pagination-container li {
  display: none;
}
.submenu .pagination-container li:last-child, .submenu .pagination-container li:first-child {
  display: block;
}
.submenu .pagination-container li:last-child a, .submenu .pagination-container li:first-child a, .submenu .pagination-container li:last-child span, .submenu .pagination-container li:first-child span, .pagination_news_prev, .pagination_news_next {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  box-shadow: none;
}
.submenu .pagination-container li:last-child a, .submenu .pagination-container li:last-child span, .pagination_news_next {
  background-image: url("../img/content-img/arrow_right_menu.png");
}
.submenu .pagination-container li:first-child a, .submenu .pagination-container li:first-child span, .pagination_news_prev {
  background-image: url("../img/content-img/arrow_left_menu.png");
}

.submenu__catalog_list {
}
.submenu__catalog_item {
}
.submenu__catalog_link {
  @include thisFont("Roboto-Regular", 400, normal, 24px, #212121, 16px);
}
.submenu__catalogPdf_box {
  display: flex;
  flex-direction: column;
  min-height: 158px;
}
.submenu__catalogPdf_list {
  flex: 1 0 auto;
  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.submenu__catalogPdf_item {
  background-image: url("../img/content-img/pdf_icon.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 25px;
  padding-left: 33px;
}
.submenu__catalogPdf_link {
  line-height: 28px;
}
.pagination_news {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include md {
    position: static;
    grid-column: 1/3;
  }
}
.submenu__news_box {
  overflow: hidden;
  position: relative;
}
.submenu__news_list {
  display: flex;
  position: relative;
  overflow: unset; 
  left: 0;
  transition: all 0.5s ease-out;
}
.submenu__news_item {
  width: 100%;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: auto 90px;
  grid-gap: 10px;
}
.submenu__news_img {
  grid-column: 1/3;
}
.submenu__news_title {
  @include thisFont("Roboto-Condensed", 300, normal, 32px, #212121, 28px);
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 35px;
  grid-column: 1/3;
  @include md {
    font-size: 26px;
    margin: 0px;
  }
  @include sm {
    font-size: 22px;
  }
}
.submenu__news_text {
  @include md {
    grid-column: 1/3;
  }
}

// article главной

.systemBlockMain {
  margin-top: 80px;
  @include md {
    margin-top: 50px;
  }
}
.preview_block {
  display: grid;
  grid-template-columns: auto 180px;
  grid-gap: 30px;
}
.preview__span {
  @include thisFont("Roboto-Condensed", 400, normal, 20px, #9E9E9E, 28px);
  grid-column: 1/3;
}
.article__title {
}
.article__title_link {
}
.systemBlock__list {
  margin-top: 75px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  @include md {
    margin-top: 40px;
  }
}
.systemBlock__item:nth-child(4n + 1) {
  grid-column: 1/2;
}
.systemBlock__item:nth-child(4n + 2) {
  grid-column: 2/4;
}
.systemBlock__item:nth-child(4n + 3) {
  grid-column: 1/3;
}
.systemBlock__item:nth-child(4n + 4) {
  grid-column: 3/4;
}
.systemBlock__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.systemBlock__item .img_link {
  width: 100%;
  height: 350px;
  display: inline-block;

}
.systemBlock__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.systemBlock__item_linkBox {
  background-color: #F5F5F5;
  padding: 32px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: -9px;
    left: 32px;
    background-color: #F5F5F5;
  }
}
.systemBlock__item_link {
  @include thisFont("Roboto-Condensed", 300, normal, 28px, #212121, 32px);
}
.systemBlock__item_tooltip {
  max-height: 0;
  padding: 0;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  position: absolute;
  width: 100%;
  background-color: #E10025;
  bottom: 0;
  color:#FFFFFF;
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 20px;
  .systemBlock__item_tiooltiLink, .systemBlock__item_tootlipTitle, .systemBlock__item_tooltipText  {
    display: none;
  }
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    top: -9px;
    left: 32px;
    background-color: #E10025;
    display: none;
  }
}
.systemBlock__item:hover .systemBlock__item_tooltip {
  display: grid;
  max-height: 999px;
  padding: 35px 30px;
  &::before {
    display: block;
  }
  .systemBlock__item_tiooltiLink, .systemBlock__item_tootlipTitle, .systemBlock__item_tooltipText {
    display: block;
  }
}

.systemBlock__item_tootlipTitle {
  @include thisFont("Roboto-Condensed", 300, normal, 32px, #ffffff, 28px);
  display: inline-block;
  grid-column: 1/3;
}
.systemBlock__item_tooltipText {
  @include thisFont("Roboto-Regular", 300, normal, 24px, #ffffff, 16px);
}
.systemBlock__item_tiooltiLink {
  width: 40px;
  height: 40px;
  background-image: url("../img/content-img/arrow_right_menu.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center center;
  align-self: end;
}
.preview_ink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #212121;
  @include thisFont("Roboto-Condensed", 400, normal, 20px, #212121, 23px);
}

.newsMain__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 80px;
  @include md {
    margin-top: 50px;
  }
}
.newsMain__item {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  min-width: 30%;
}
.newsMain__imgbox {
  width: 100%;
  height: 300px;
  position: relative;
}
.newsMain__date {
  position: absolute;
  background-color: #E10025;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 10px;
}
.newsMain__imgLink {
  width: 100%;
}
.newsMain__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsMain__text {
  padding: 30px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 20px;
  background-color: #F5F5F5;
  flex: 1 0 auto;
}
.newsMain__title {
  grid-column: 1/3;
}
.newsMain__link {
  @include thisFont("Roboto-Condensed", 400, normal, 28px, #212121, 32px);
  text-transform: uppercase;
}
.newsMain__preview {

}
.arrow_link {
  display: inline-block;
  background-image: url("../img/content-img/arrow_right_menu.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center center;
  align-self: end;
  width: 40px;
  height: 40px;
}

.videobox {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: rgb(195, 206, 202);
  margin-top: 80px;
  @include md {
    margin-top: 50px;
  }
}

.catalogMain {
  display: flex;
  gap: 50px;
}
.systemBlockMain {
}
.catalogMain__list {
  margin-top: 80px;
  @include md {
    margin-top: 50px;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  flex: 1 1;
}
.catalogMain__item {
  display: flex;
  flex-direction: column;
}
.catalogMain__item_imgLink {
  width: 100%;
  height: 138px;
}
.catalogMain__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalogMain__item_linkBox {
  flex: 1 0 auto;
  background-color: #F5F5F5;
  padding: 20px;
  background-image: url("../img/content-img/arrow_right_menu.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}
.catalogMain__item_link { 
  @include thisFont("Roboto-Condensed", 400, normal, 20px, #020D18, 23px);
  display: inline-block;
  width: 100%;
  height: 100%;
}
.catalogMain__img_box {
  flex: 1 1;
}
.catalogMain__img {
  object-fit: contain;
}